.title {
  margin: var(--gap-lg) 0;
  text-align: center;
  color: var(--primary);
}

.form {
  margin: 0 auto;
  max-width: 500px;
}

.inputWrapper {
  position: relative;
  margin: var(--gap-lg) 0;
}

.inputWrapperError input {
  outline-color: var(--error);
}

.inputWrapperError .label {
  color: var(--error);
}

.label {
  position: absolute;
  top: -10px;
  left: 10px;
  padding: 0 calc(var(--gap-sm) / 2);
  background-color: var(--light);
  font-weight: 700;
  color: var(--dark);
}

input:focus + .label,
input:active + .label {
  color: var(--accent);
}

.inputWrapperError input:focus + .label,
.inputWrapperError input:active + .label {
  color: var(--error);
}

.errorMessage {
  display: block;
  padding-top: 5px;
  color: var(--error);
}

.button {
  display: block;
  margin: 0 auto;
  background-color: var(--primary);
  font-weight: 700;
  color: var(--light);
  transition: background-color 250ms ease-in;
}

.button:hover {
  background-color: var(--accent);
}
